<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body ng-app="category">
    <div id="header"></div>
    <div class="nav-right-holder"></div>
    <div class="container" ng-controller="CategoryController">
      <div class="page-header">
        <h1>类目</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="categorys &amp;&amp; categorys.length > 0">
        尚未有任何类目.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addCategory(newCategory)">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newCategory" placeholder="Enter a new category..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newCategory" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <hr />
        <div class="form-group" ng-repeat="category in categorys">
          <div class="col-xs-9">
            <label>
              <input type="text" class="form-control" ng-model="category.name" ng-if="category.editting"/><span ng-if="!category.editting">{{category.name}}</span>
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-success" type="button" title="保存" ng-if="category.editting" ng-click="changeButtonFlag(category);updateCategory(category)">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="pull-right btn btn-primary" type="button" title="编辑" ng-if="!category.editting" ng-click="changeButtonFlag(category);">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <a href="/view/admin/post-list.html?cid={{category.cid}}" class="pull-right btn btn-success">查看文章</a>
          </div>

        </div>
        
      </form>
    </div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/common/page-layout-init.js"></script>
    <script type="text/javascript" src="/app/admin/category/category.js"></script>
    <script type="text/javascript" src="/app/admin/category/controllers.js"></script>
    <script type="text/javascript" src="/app/admin/category/services.js"></script>
  </body>
</html>