<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div id="header"></div>
    <div class="nav-right-holder"></div>
    <div class="container">
        <a href="/view/admin/config-home.html" target="_self">配置网站首页</a>
        <hr />
        <a href="/view/admin/category-list.html" target="_self">类目文章管理</a>
        <hr />
      </form>
    </div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/common/page-layout-init.js"></script>
  </body>
</html>