<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/post/post.css" />
</head>
<body>
  <div id="header"></div>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li><a href="/post/list?cid=${post.cid}">类别文章列表</a></li>
      <li class="active">文章详情</li>
    </ol>
    <header class="post-header">
        <h3 class="post-title">${post.title!}</h3>
        <section class="post-meta">
            <span>${category.name!}</span><span>|</span><time class="post-date" datetime="${post.created?datetime}">${post.created?datetime}</time> 
        </section>
    </header>
    <div class="container-content">
      ${post.content!}
    </div>
  </div>

  
  <footer class="footer text-center"><p>&copy; 2015~2017 广州赑晶企业管理有限公司, Inc.</p></footer>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/app/common/page-layout-init.js"></script>
  <script> 
  </script>
</body>
</html>