<!DOCTYPE html>
<html>
<head>
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/sign-up.css" />
  <link rel="stylesheet" href="assets/css/sign-up-plus.css" />
  
</head>
<body>
  <div class="starter-template">
    <div class="container height-padding-little content-center">
        <br>
        <br>
        <h1>登录</h1>
        <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
          <div class="auth-wrapper">
            <form action="/login" method="post" id="login" novalidate="novalidate">
              <div class="form-group">
                <label for="username">账号</label>
                <input type="text" class="form-control valid" name="username" id="username" aria-required="true" aria-invalid="false">
              </div>
              <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
              <input type="submit" onclick="formSubmit()" value="登录" class="btn btn-block btn-success">
            </form>
          </div>
          <div class="auth-footer">
            没有账号?<br>
            <a href="/view/sign-up.html">去注册</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center"><p>&copy; 2015~2017 广州赑晶企业管理有限公司, Inc.</p></footer>
  <script type="text/javascript">
    function formSubmit(){
      document.getElementById("login").submit()
    }
</script>
</body>
</html>