<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icms.mapper.CategoryMapper">
	<resultMap id="BaseResultMap" type="com.icms.model.Category">
		<id column="cid" jdbcType="INTEGER" property="cid" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="descr" jdbcType="VARCHAR" property="descr" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="deleted" jdbcType="TINYINT" property="deleted" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
	</resultMap>
	<sql id="Base_Column_List">
		cid, pid, name, descr, type, status, deleted, created, updated
	</sql>
	<sql id="findByParamsCommon">
		from category c where 1=1
		<if test="name != null">
			and c.name = #{name}
		</if>
		<if test="pid != null">
			and c.pid = #{pid}
		</if>
		<if test="type != null">
			and c.type = #{type}
		</if>
		<if test="status != null">
			and c.status = #{status}
		</if>
		<if test="delated != null">
			and c.delated = #{delated}
		</if>
	</sql>
	<select id="findByParams" parameterType="com.icms.model.Category"
		resultMap="BaseResultMap">
		select c.*
		<include refid="findByParamsCommon" />
		<!-- <if test="start != null and size != null and page != null and page 
			> 0 and start > -1"> limit #{start}, #{size} </if> -->
	</select>
	<select id="countByParams" parameterType="com.icms.model.Category"
		resultType="Integer">
		select count(*)
		<include refid="findByParamsCommon" />
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from category
		where cid = #{cid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from category
		where cid = #{cid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.icms.model.Category">
		insert into category (cid, pid, name,
		descr, type, status,
		deleted, created, updated
		)
		values (#{cid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{descr,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
		#{deleted,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP},
		#{updated,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.icms.model.Category">
		insert into category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				cid,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="descr != null">
				descr,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="updated != null">
				updated,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				#{descr,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				#{updated,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.icms.model.Category">
		update category
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				descr = #{descr,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=TINYINT},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				updated = #{updated,jdbcType=TIMESTAMP},
			</if>
		</set>
		where cid = #{cid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.icms.model.Category">
		update category
		set pid = #{pid,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		descr = #{descr,jdbcType=VARCHAR},
		type = #{type,jdbcType=TINYINT},
		status = #{status,jdbcType=TINYINT},
		deleted = #{deleted,jdbcType=TINYINT},
		created = #{created,jdbcType=TIMESTAMP},
		updated = #{updated,jdbcType=TIMESTAMP}
		where cid = #{cid,jdbcType=INTEGER}
	</update>
	<resultMap id="BaseResultMap" type="com.icms.model.Category">
		<id column="cid" jdbcType="INTEGER" property="cid" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="descr" jdbcType="VARCHAR" property="descr" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="deleted" jdbcType="TINYINT" property="deleted" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
	</resultMap>
	<sql id="Base_Column_List">
		cid, pid, name, descr, type, status, deleted, created, updated
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from category
		where cid = #{cid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from category
		where cid = #{cid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.icms.model.Category">
		insert into category (cid, pid, name,
		descr, type, status,
		deleted, created, updated
		)
		values (#{cid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{descr,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
		#{deleted,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP},
		#{updated,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.icms.model.Category">
		insert into category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				cid,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="descr != null">
				descr,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="updated != null">
				updated,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				#{descr,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				#{updated,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.icms.model.Category">
		update category
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				descr = #{descr,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=TINYINT},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				updated = #{updated,jdbcType=TIMESTAMP},
			</if>
		</set>
		where cid = #{cid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.icms.model.Category">
		update category
		set pid = #{pid,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		descr = #{descr,jdbcType=VARCHAR},
		type = #{type,jdbcType=TINYINT},
		status = #{status,jdbcType=TINYINT},
		deleted = #{deleted,jdbcType=TINYINT},
		created = #{created,jdbcType=TIMESTAMP},
		updated = #{updated,jdbcType=TIMESTAMP}
		where cid = #{cid,jdbcType=INTEGER}
	</update>
</mapper>